*{
  padding: 0;
  margin: 0;
}

head{
  text-align: center;
}

table{
  margin-top: 10%;
}

table, th,tr, td{
  border: 1px double black;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

td{
  text-align: center;
}

th{
  width: 10%;
}

.nav-bar{
  background-color: #000;
  height: auto;

}

ul{
  display: flex;
  list-style: none;
}

ul>li{
  width: 30%;
  text-align: center;
}

ul li a{
  line-height: 50px;
  display: block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
}

.nav-bar>.head{
  weight:bold;
  color: #fff;
  background: #e89843;
  padding: 10px 20px;

}

ul li a:hover{
  background-color: white;
  color:black;
  transition: 0.8s;
}
